
@model List<HSBCReward.Models.product>
@{
    ViewBag.Title = "Order Preview";
}

<main id="main" role="main">
    <div class="container-fluid">
       
        <ul class="stepsWrap d-flex justify-content-between">
            <li class="activated"><span>1</span><p>View Cart</p></li>
            <li class="activated"><span>2</span><p>Shipping</p></li>
            <li class="active"><span>3</span><p>Preview</p></li>
            <li><span>4</span><p>Order Summary</p></li>
        </ul>

        <h5 class="mt-4"><b>Order Preview</b></h5>
        <div class="table-responsive cartTblWrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Brand Logo</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Points</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {


                        <tr>
                            <td><img src="@product.images" class="cartPImg"></td>
                            <td>@product.global_code</td>
                            <td>@product.brand_name</td>
                            <td>
                                @product.quantity
                            </td>
                            <td>@product.final_landed_price</td>
                            <td class="totalPrice" id="totalPrice_@product.global_code">@(Convert.ToInt32(product.final_landed_price) * product.quantity)</td>

                        </tr>

                    }
                    <tr>
                        <td style="border-bottom: 1px solid #dee2e6;"></td>
                        <td style="border-bottom: 1px solid #dee2e6;"></td>
                        <td style="border-bottom: 1px solid #dee2e6;"></td>
                        <td style="border-bottom: 1px solid #dee2e6;"></td>
                        <td style="border-bottom: 1px solid #dee2e6;">Total</td>
                        <td id="totalAmount" style="border-bottom: 1px solid #dee2e6;">@Model.Sum(p => Convert.ToInt32(p.final_landed_price) * p.quantity)</td>
                        <td style="border-bottom: 1px solid #dee2e6;"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4>Shiping Address</h4>
        <hr>

        <h6 class="text-uppercase">Tapan Kamal Das</h6>
        <p>Items will be delivered to your credit card statement mailing address updated in the Bank records.</p>
        <p>Electronic gift vouchers will be delivered only via email/SMS on the registered email ID and mobile number below</p>
        <h6>9834324325</h6>
        <h6>aaaa@gamil.com</h6>
        <hr class="mt-5">
        <p class="mb-5"><b>Disclaimer:</b> The redemption of any product in this catalogue is subject to The Hongkong and Shanghai Banking Corporation Limited prevailing Terms and Conditions governing the Bank's Rewards Programme. In particular, please note that the Bank makes no warranty whatsoever as to the quality of fitness for any particular purpose of any product show in this catalogue. Any dispute you may have concerning any product shall be settled with the relevant service establishment and/or supplier which supplied the product. The Bank will bear no responsibility for resolving such disputes or for the dispute itself.</p>
        <p><b>Please note</b></p>
        <ul class="mb-3">
            <li>No delivery will be made to P.O. Box addresses or to addresses outside India</li>
            <li>Kindly select products from the applicable credit category under the rewards catalogue to ensure successful redemption</li>
            <li>Product requested against redemption of points will be delivered to your registered mailing address as per blank records. Should  you wish to update your mailing address then please call PhoneBanking OR visit your nearest HSBC branch for assistance, prior to placing your redemption request.</li>
        </ul>
        <div class="text-right mb-5">
            <button type="button" class="btn transBtn" onclick="BackAction()">Back</button>
            <button type="button" class="btn btn-theme  ripple-effect" onclick="proceedToAction()">Redeem Now</button>
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {


        $('.searchdrtogle').click(function () {
            $('.search-txtWrp').toggleClass('active');
            $(this).toggleClass('active');
        });

        $('.qtyVal').on('change', function () {
            var quantity = $(this).val();
            var price = $(this).data('price');
            var totalPrice = parseInt(quantity) * parseInt(price);
            $(this).closest('tr').find('.totalPrice').text(totalPrice);
            var productCode = $(this).attr('id').split('_')[1];
            $('#totalPrice_' + productCode).text(totalPrice);
            updateTotalAmount();
            var updatedValue = quantity
            ProductId = $(this).data('productid');
        });


        function updateTotalAmount() {
            var totalAmount = 0;
            $('.totalPrice').each(function () {
                totalAmount += parseInt($(this).text());

            });

            $('#totalAmount').text(totalAmount);
        }


    });


    function proceedToAction() {
       // Generate the URL for the controller action using Url.Action
       var url = '@Url.Action("Index", "OrderSummary")'; // Replace "Action" and "Controller" with your actual action and controller names

       // Redirect to the specified URL
       window.location.href = url;
   }
       function BackAction() {
      // Generate the URL for the controller action using Url.Action
      var url = '@Url.Action("Index", "Cart")'; // Replace "Action" and "Controller" with your actual action and controller names

      // Redirect to the specified URL
      window.location.href = url;
  }
</script>